[Unit]
Description=Autostart Script for Ngrok Tunnel Service
After=network.target

[Service]
ExecStart=/srv/sandbox/ngrok-autostart/startup.sh
ExecStartPost=/srv/sandbox/ngrok-autostart/post-startup.sh
Restart=always
User=kuil
WorkingDirectory=/srv/sandbox/ngrok-autostart/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

